.header {
    font-size: 12px;
    font-weight: bold;

    #navItem {

        &:hover {
            color: $link-hover
        }
    }
}

.container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arrowDown {
    display: inline-block;
    width: 90px;
    margin-top: 5px;
}
#button{
    border: 2px solid white;
}
.emailObc{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    &:hover{
        border-bottom: 1px solid gray;
        color: rgba(47, 67, 84, 0.733);
    }
}
.logoPC {
    width: 240px;
    margin-left: -10px;
    margin-right: 40px;
}

@media (max-width: 405px) {
    .logoPc {
        width: 180px;
        margin-top: 15px;
    }

    .footer {
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .logoPc {
        width: 150px;
        margin-top: 15px;
    }
}

;

